################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OlympusTraining/.vs/OlympusTraining
/OlympusTraining/OlympusTraining/bin/Debug/net6.0
/OlympusTraining/OlympusTraining/obj
