@page
@model OlympusTraining.Pages.BuildYourBodyModel
@{
    ViewData["Title"] = "Build Your Body";
}

<div class="text-center">
    <h1 class="display-4">Build Your Body</h1>
    <p>View articles and success stories</p>
</div>