@page
@model OlympusTraining.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}

<div class="text-center">
    <h1 class="display-4">Education</h1>
    <p>Overcome what is stopping you from being your best</p>
</div>