@page
@model OlympusTraining.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">Profile</h1>
    <p>Your profile info will appear here</p>
</div>