@font-face {
    font-family: 'Times New Roman';
    src: url('/fonts/times new roman.ttf');
}

body {
    font-family: 'Times New Roman', Times, serif!important;
}

.main-nav-container {
    width: 100%;
}

.nav-item {
    width: 20%;
    text-align: center;
}

.main-nav {
    background:#0f1212;
}


